body { margin: 0; background: black; overflow: hidden; }
canvas { display: block; margin: auto; background: #111; }
#ui {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
  font-family: Arial;
}
